footer {
  width: 100%;
  max-width: 1366px;

  margin: 0 auto;
  margin-top: 5rem;
  
  background-color: var(--color-dark-page);
  color: white;
}

footer > article {
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  & h3 {
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: var(--font-big-shoulders);
    text-transform: uppercase;
    width: 80%;
  }
  & p {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 200;
    width: 100%;
  }
}

.social-networks ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;

  & a {
    display: inline-flex;
    transition: transform 200ms ease-in-out;

    &:hover {
      transform: scale(1.1);
      filter: drop-shadow(0 0 5px #ffffff80);
    }
  }

  & img {
    width: 100%;
    max-width: 24px;
  }
}

/* === TABLET 768PX === */
@media (width >= 768px) {
  footer > article {
    flex-direction: row;
    padding-block: 4rem;
  }
  footer > article h3, footer > article p, .social-networks{
    flex: 1;
  }
  footer > article p {
    flex-grow: 1.5;
  }
  .social-networks ul{
    justify-content: flex-end;
  }
}
