.container-gallery {
  padding: 1rem;
  margin-block: 7rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  width: 100%;
  max-width: 1110px;
  margin: 0 auto;

  animation: all 300ms ease-in-out;

  & h2 {
    font-family: var(--font-big-shoulders);
    font-size: clamp(2.5rem, 4vw, 5rem);
    text-wrap: balance;
    text-transform: uppercase;
    line-height: 1.1;
    width: 100%;
    max-width: 280px;
    position: relative;
  }
  & p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--color-gray-100);
    width: 100%;
    font-weight: 200;
  }
}
.container-gallery img {
  width: 100%;
  height: 100%;
}

.first {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.first > article:first-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.second {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1.4fr;
  gap: 1rem;
}
.second > article:last-child {
  background: var(--color-dark-page);
  color: white;
  width: 100%;
  height: 100%;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;

  & p{
    color: white;
  }

}

/* === TABLET 768PX */
@media (width >= 768px) {

  .container-gallery{
    padding: 2rem;
    gap: 1rem;
  }

  .first {
    flex-direction: row;
    align-items: center;
  }

  .first > article {
    flex: 1;
  }

  .first > article:last-child{
    flex-grow: 1.3;
  }
  .first > article:last-child img {
    aspect-ratio: 1/1;
  }

  .second {
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    aspect-ratio: 1/1.15;
  }

  .second > article:first-child {
    grid-row: 1 / span 2;
  }
}

/* === DESKTOP 1280PX */
@media (width >= 1280px) {
  .second {
    aspect-ratio: 1/1;
  }
}