/* === HERO PAGE === */
.visible-desktop {
  display: none;
  background-color: var(--color-dark-page);
  width: 100%;
  height: 100%;
}
.container-hero {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 1fr;
}

.container-hero > article {
  padding: 1rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.container-hero > article h1 {
  font-family: var(--font-big-shoulders);
  font-size: clamp(4rem, 6vw, 6rem);
  text-wrap: balance;
  line-height: 1.1;
  width: 100%;
  position: relative;
  max-width: 400px;

}
.container-hero > article p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--color-gray-100);
  width: 100%;

}
.content-image-hero {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.5/1;
  overflow: hidden;
  
  & img {
    width: 100%;
    object-fit: cover;
    object-position: 0% -180px;
  }
}


/* buttons */
.btn {
  /* border: 1px solid; */
  display: flex;
  width: 100%;
  max-width: 240px;
  color: white;

  font-size: 1.5rem;
  font-family: var(--font-big-shoulders);
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  position: relative;

  & span {
    align-self: center;
    width: 100%;
    text-align: center;
    padding: 1.35rem 0;
  }
}

.figure-link {
  /* background-color: var(--color-gold); */
  max-width: 30px;
  display: flex;
  align-items: center;
  padding:0 .85rem;
  box-sizing: content-box;

  & img {
    /* padding-inline: .1rem; */
    width: 100%;
    display: block;
  }
}

.block-animation {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -10;

  display: grid;
  grid-template-columns: 0fr 2fr .6fr;
  transition: all 300ms linear;
}

.btn:hover .block-animation{
  grid-template-columns: 2fr .6fr 0fr;
}

.s, .ss, .sss {
  transition: all 200ms linear;
}

.btn-primary .s{
  background-color: var(--color-dark-page);
}
.btn-primary .ss {
  background-color: var(--color-dark-page);

}
.btn-primary .sss{
  background-color: var(--color-gold);
}

.btn:hover .s{
  background-color: var(--color-gold);
}
.btn:hover .ss{
  background-color: var(--color-dark-page);
}


/* === TABLET RESPONSIVE > 375px */
@media (width >= 768px) {
  .container-hero {
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows:1fr;
    align-items: center;
    min-height: auto;
    position: relative;
  }

  .content-image-hero {
    aspect-ratio: auto;
    height: 100%;

    & img {
      /* width: 100%; */
      /* object-fit: cover; */
      object-position: 0;
    }

  }

  .container-hero > article {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: max-content;
    /* background-color: red; */
    transform: translate(-4%, -50%);
    z-index: 10;
  }
}

/* === DESKTOP RESPONSIVE > 768px */
@media (width >= 1280px) {
  .visible-desktop{
    display: block;
  }
  .container-hero {
    grid-template-columns:1fr 1.3fr 1fr;
    max-height: 100dvh;
  }
  .container-hero > article {
    transform: translate(30%, -50%);
  }

  .container-hero > article h1{
    position: absolute;
    top: 0;
    left: -102%;
    color: white;
    text-shadow: var(--color-dark-page) 3px 0 20px;
  }

  .container-hero > article p {
    max-width: 290px;
  }
}