@import "./hero-page.css";
@import "./hero-gallery.css";
@import "./footer.css";
@import "./location-page.css";
@import "./buttons.css";

:root {
  --color-dark-page: #151515;
  --color-gold: #D5966C;
  --color-gray-100: #444;

  /* fonts */
  --font-big-shoulders: "Big Shoulders", monospace;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", monospace;
}
a {
  text-decoration: none;
}